---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Learn more about the CIELO-G Project",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p><strong>About CIELO-G:</strong></p>
		<p>
			CIELO-G is a community-driven initiative committed to making geoscience more inclusive and accessible. We connect learners of all backgrounds with opportunities in Earth science through education, outreach, and collaboration.
		</p>
		<p>
			<strong>Mission:</strong> Engage the local community and inspire future geoscientists through inclusive STEM education.
		</p>
		<p><strong>Maintainer & Developer:</strong> Gabriel Alonso</p>
		<p><strong>Faculty Support:</strong> Dr. Katalina Hunter, Dr. Aaron Velasco, Dr. Sandra Hardy</p>
		<p>
			🔗 <strong>Learn more:</strong> 
			<a class="cactus-link inline-block" href="https://www.cielog.org/">https://www.cielog.org/</a>
		</p>
	</div>
</PageLayout>
